#EXTM3U
#EXTINF:0,http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4425.ts
#EXTINF:0,VIP| PAK NEWS 92
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/14095.ts
#EXTINF:0,[IRQ]  KARBALA
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4686.ts
#EXTINF:0,VIP| PAK Bol News
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4381.ts
#EXTINF:0,VIP| PAK GEO NEWS
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4383.ts
#EXTINF:0,VIP| PAK ARY NEWS
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4387.ts
#EXTINF:0,VIP| PAK GEO TEZZ
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4382.ts
#EXTINF:0,VIP| PAK SAMA NEWS
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4380.ts
#EXTINF:0,VIP| PAK DUNYA NEWS
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4385.ts
#EXTINF:0,VIP| PAK EXPRESS NEWS
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4384.ts
#EXTINF:0,VIP| PAK ZINDGAI TV
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4424.ts
#EXTINF:0,VIP| PAK WASAB TV
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4785.ts
#EXTINF:0,VIP| PAK WAQAT NEWS
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4786.ts
#EXTINF:0,VIP| PAK PTV SPORTS STREAM 2
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4789.ts
#EXTINF:0,VIP| PAK NEWS ONE
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4784.ts
#EXTINF:0,VIP| PAK JAAG NEWS
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4782.ts
#EXTINF:0,VIP| PAK GEO NEWS UK
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4777.ts
#EXTINF:0,VIP| PAK EXPRESS NEWS 2
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4778.ts
#EXTINF:0,VIP| PAK DUNYA NEWS 2
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4779.ts
#EXTINF:0,VIP| PAK CHANNEL 24
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4780.ts
#EXTINF:0,VIP| PAK CAPITAL TV
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4781.ts
#EXTINF:0,VIP| PAK ARY NEWS UK
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4783.ts
#EXTINF:0,VIP| PAK AAJ NEWS
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4787.ts
#EXTINF:0,VIP| PAK TV ONE
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4393.ts
#EXTINF:0,VIP| PAK Such TV
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4403.ts
#EXTINF:0,VIP| PAK STAGE DRAMA
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4405.ts
#EXTINF:0,VIP| PAK MUJRA
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4407.ts
#EXTINF:0,VIP| PAK PTV HOME
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4418.ts
#EXTINF:0,VIP| PAK PTV NEWS
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4417.ts
#EXTINF:0,VIP| PAK PTV PRIME
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4416.ts
#EXTINF:0,VIP| PAK PTV WORLD
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4412.ts
#EXTINF:0,VIP| PAK PTV SPORTS
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4415.ts
#EXTINF:0,VIP| PAK PAIGHAM TV
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4419.ts
#EXTINF:0,VIP| PAK Masala tv
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4411.ts
#EXTINF:0,VIP| PAK MADNI CHANNEL
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4423.ts
#EXTINF:0,VIP| PAK ISLAM TV
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4422.ts
#EXTINF:0,VIP| PAK HUM WORLD
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4391.ts
#EXTINF:0,VIP| PAK HUM TV 2
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4390.ts
#EXTINF:0,VIP| PAK HUM TV
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4389.ts
#EXTINF:0,VIP| PAK HUM STARS
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4392.ts
#EXTINF:0,VIP| PAK GEO TV
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4399.ts
#EXTINF:0,VIP| PAK GEO SUPER
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4413.ts
#EXTINF:0,VIP| PAK GEO KAHANI
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4398.ts
#EXTINF:0,VIP| Pak express TV
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4401.ts
#EXTINF:0,VIP| PAK EXPRESS
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4400.ts
#EXTINF:0,VIP| PAK ATV
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4397.ts
#EXTINF:0,VIP| PAK ARY ZINDGAI
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4396.ts
#EXTINF:0,VIP| PAK ARY ZAIQA
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4409.ts
#EXTINF:0,VIP| PAK ARY QTV
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4420.ts
#EXTINF:0,VIP| PAK ARY MUSIC
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4406.ts
#EXTINF:0,VIP| PAK ARY DIGITAL
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4395.ts
#EXTINF:0,VIP| PAK ARY
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4394.ts
#EXTINF:0,VIP| PAK APNA
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4402.ts
#EXTINF:0,VIP| PAK ABBTAK
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4386.ts
#EXTINF:0,VIP| PAK A PLUS
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4404.ts
#EXTINF:0,VIP| PAK  ARY ZAUQ
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4408.ts
#EXTINF:0,VIP| PAK PASHTO 1
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4684.ts
#EXTINF:0,VIP| PAK Paigam Pushto
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4688.ts
#EXTINF:0,VIP| PAK KHYBER TV PASHTO
http://78.142.29.3:2500/live/d4XJyL2keu/kOI06FTGIs/4685.ts
#EXTINF:0,VIP| PAK KHYBER NEWS PASHTO
